/* CSS below is for having the image and title together */
#flex-box {
  display: flex;
  height: 50px;
  flex-direction: row;
  font-size: 35px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(211, 188, 161);
  margin-bottom: 0;
  font-weight: bold;
}

#flex-box p {
  margin: auto;
}

#flex-box img {
  height: 15%;
  width: 5%;
}
